body {
  margin-bottom: 50px; /* Le player est en position fixed en bas */
}

.audioplayer-global {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 0;
  z-index: 1;
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
}

.audioplayer-global .player {
  display: flex;
  height: 50px;
  width: 80%;
  margin: auto;
}

.audioplayer-global .player * {
  flex-grow: 0;
}

@media (max-width: 900px) {
  .en-cours {
    display: none;
  }
  .total {
    display: none;
  }
}

@media (max-width: 650px) {
  .infos .titre {
    display: none;
  }
  .infos .artiste {
    display: none;
  }
}

@media (max-width: 650px) {
  .infos .titre {
    display: none;
  }
  .infos .artiste {
    display: none;
  }

  .share {
    display: none;
  }
}


.audioplayer-global .player .controls,
.audioplayer-global .player .social {
  display: flex;
}

.audioplayer-global .player .controls button,
.audioplayer-global .player .social button {
  background-color: transparent;
  background-position: center;
  border: 0;
  font-size: 0;
  width: 30px;
  margin: 0 1%;
  cursor: pointer;
}

.audioplayer-global .player .controls .prev {
  background-image: url("../images/prev.svg");
}

.audioplayer-global .player .controls .play {
  background-image: url("../images/play.svg");
}

.audioplayer-global .player .controls .next {
  background-image: url("../images/next.svg");
}

.audioplayer-global .player .controls .repeat {
  background-image: url("../images/repeat.png");
  background-size: 15px;
}

.audioplayer-global .player .controls .shuffle {
  background-image: url("../images/shuffle.png");
  background-size: 20px;
}

.audioplayer-global .player .volume {
  display: none;
}

.audioplayer-global .player .temps {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 2%;
}

.audioplayer-global .player .temps .timeline {
  flex-grow: 1;
  margin: 0 1%;
}

.seek_slider,
.volume_slider {
  appearance: none;
  appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slidecontainer {
  width: 100%;
}

.slider {
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  vertical-align: middle;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2d2d2d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.audioplayer-global .player .temps:hover .timeline .progress span {
  height: 2px;
}

.audioplayer-global .player .infos {
  position: relative;
  padding: 5px 0 5px 46px;
  font-size: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 2%;
}

.audioplayer-global .player .infos .visuel #coverFooter {
  border: 1px solid grey;
  position: absolute;
  top: 7px;
  left: 0;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  background-size: cover;
}

.audioplayer-global .player .infos .titre {
}

.audioplayer-global .player .infos .artiste {
}

.audioplayer-global .player .social .like {
  background-size: 20px;
}

.audioplayer-global .player .social .share {
  background-image: url("../images/share.svg");
  background-size: 22px;
}

.audioplayer-global .player .social .toggle-playlist {
  background-image: url("../images/playlist.svg");
  background-size: 24px;
  font-size: 12px;
  white-space: nowrap;
  width: auto;
  background-position-x: 5px;
  border: 1px solid #ccc;
  height: 30px;
  border-radius: 3px;
  box-shadow: 0 0 5px #ccc;
  padding: 0 10px 0 28px;
  margin-top: 10px;
  margin-left: 30px;
}

.playlist {
  z-index: -1 !important;
}

.audioplayer-global .playlist {
  display: block;
  transform: translate3d(0, 200%, 0);
  transition: all 1s ease-out;
  position: fixed; /* Stay in place */
  opacity: 0;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 40px;
  width: 100%; /* Full width */
  height: 80%;
  overflow: auto; /* Enable scroll if needed */
}

.active {
  transform: none !important;
  opacity: 1 !important;
}

.modal-content {
  background-color: white;
  padding: 20px;
}

.modal-body {
  display: flex;
  justify-content: space-between;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
    background-color: #d3d3d3;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 0;
    -webkit-appearance: none;
    height: 10px;
    background: #434343;
    box-shadow: -500px 0 0 500px #e67e22;
  }
}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #e67e22;
}
input[type="range"]::-moz-range-track {
  background-color: #d3d3d3;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #e67e22;
}
input[type="range"]::-ms-fill-upper {
  background-color: #d3d3d3;
}

.dropdown {
  margin: auto 0;
}
select {
  line-height: 1;
  border-radius: 5px;
  appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.29);
  outline: none;
}
