.cover,
.actions,
.description {
  width: fit-content;
  margin-inline: auto;
  text-align: center;
}

.currentMusic {
  margin: auto 2% auto 5%;
}

@media (max-width: 1000px) {
  .currentMusic {
    display: none;
  }
}

#currentMusicCover {
  border: 1px solid lightgray;
  width: 400px;
  height: 400px;
  flex-grow: 1;
}

#musicTitle {
  font-weight: 500;
}

#singer {
  color: #7c7272;
  font-weight: 200;
}

#likeCurrentMusic {
  width: 24px;
  height: 24px;
}

button {
  background-color: transparent;
  border: none;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
}
