/* INDEX */
body.page-index #tpl-body img { float:left; clear:left; margin: 0 5px 5px 0; }
body.page-index #groupes, #statistiques { float:left; width:50%; }
body.page-index #groupes { clear:left; }
body.page-index #groupes div, #statistiques div { margin:0 5px; }
body.page-index #groupes h2, #statistiques h2 { margin-top:0; }

body.page-aide-index .invisible, body.page-aide .invisible {
    background: url('../gifs/common/puce-verte-ronde.gif') no-repeat scroll left center transparent;
    padding-left: 14px !important;
}