.connectionForm {
    width: 40%;
    margin-inline: auto;
    margin-top: 150px;
}

button {
    width: 20%;
    margin-left: 40%;
}

h1 {
    width: fit-content;
    margin-inline: auto;
}

@media (max-width: 800px) {
    .connectionForm {
        width: 70%;
    }
}