#body-playlist {
  flex-grow: 2;
  border: none;
}

#header-playlist {
  margin-left: 0.5%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
  color: gray;
}

#header-right {
  flex-grow: 1;
}

#header-right span {
  vertical-align: middle;
  margin: auto 0;
}

#header-right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  height: 100%;
}

#header-left {
  margin: auto 0;
}

#waiting-queue {
  color: black;
}

#showFavorites {
  padding: 0 1%;
  margin: auto 0;
}

#labelFav {
  margin: auto 1%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-left: 1%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#liste {
  background: linear-gradient(lightgray, white, 30%, white);
  margin-left: 0.5%;
  border-radius: 3px;
}

.item-list {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-left: 1%;
  border-radius: 3px;
  align-items: center;
}

.item-list.over {
  border-top: 2px solid #e67e22 !important ;
}

@media (max-width: 800px) {
  .item-list {
    height: 100px;
    font-size: 17px;
  }
}

.item-list:hover {
  background-color: #e0e0e0;
}

.item-list:hover .item-jacket-icon {
  border-radius: 50%;
  background-color: #e0e0e0;
  background-image: url("../images/play-white.png") !important;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.active-music {
  color: #e67e22;
}

.active-music .item-jacket-icon {
  border-radius: 50%;
  background-image: url("../images/histogramme.png") !important;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.item-list-left {
  display: flex;
  width: 60%;
}

.item-list-center {
  display: flex;
  width: 30%;
  margin: auto 0px;
  align-items: center;
}

.item-list-right {
  display: flex;
  width: 10%;
  margin: auto 0px;
}

.item-jacket-icon {
  margin-bottom: 1%;
  margin-top: 1%;
  border-radius: 15%;
  width: 30px;
  height: 30px;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

.item-jacket-icon:hover {
  cursor: pointer;
}

.item-button-like {
  margin: auto 2% auto 3%;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.item-button-like img {
  width: 15px;
  height: 15px;
}

.item-title {
  padding: calc(2%) 0;
}

.item-lyrics,
.item-dots {
  background-image: url("../images/icon-microphone.png");
  background-size: contain;
  width: 15px;
  height: 15px;
  border: none;
  margin-right: 2%;
}

.item-lyrics {
  background-image: url("../images/icon-microphone.png");
}

.item-dots {
  background-image: url("../images/dots.png");
}

.item-dots:hover {
  cursor: pointer;
}

.item-menu {
  z-index: 99;
  position: absolute;
  color: black !important;
  background-color: white;
  right: 28%;
  border-radius: 5px;
  box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.29);
  padding: 10px;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.menu-line {
  display: flex;
  justify-content: flex-start;
  margin: 8% auto;
}

.first-line {
  background-image: url("../images/add-to-playlist.png");
  width: 15px;
  height: 15px;
  background-size: cover;
}

.second-line {
  background-image: url("../images/icon-microphone.png");
  width: 15px;
  height: 15px;
  background-size: cover;
}

.third-line {
  background-image: url("../images/share.png");
  width: 15px;
  height: 15px;
  background-size: cover;
}

.fourth-line {
  background-image: url("../images/add-to-playlist.png");
  width: 15px;
  height: 15px;
  background-size: cover;
}

.five-line {
  background-image: url("../images/icon-microphone.png");
  width: 15px;
  height: 15px;
  background-size: cover;
}

.sixth-line {
  background-image: url("../images/share.png");
  width: 15px;
  height: 15px;
  background-size: cover;
}

.first-element-of-line-in-menu {
  background-size: contain;
  width: 20px;
  height: 20px;
  border: none;
  margin-right: 5%;
}
